<h1 class="mt-2">ユーザー一覧</h1>
<%= link_to("新規商品登録", "/products/new", class: "mb-2 btn btn-primary") %>

<table class="table">
<thead>
  <tr>
      <th>#</th>
      <th>ユーザー名</th>
      <th></th>
  </tr>
</thead>
<tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id%></td>
            <td><%= user.name%></td>
            <td><%= link_to("詳細", "/admin/users/#{user.id}", class:"btn btn-secondary" )%>
            <%= link_to("削除","/admin/users/#{user.id}",{method: "DELETE", data: {confirm: "削除しますか？"}, class:"btn btn-danger"}) %></td>
        </tr>
    <% end %>
</tbody>
</table>