<%= flash[:notice]%>
<h1 class="mt-2">在庫一覧</h1>
<%= link_to("新規商品登録", "/products/new", class:"mb-2 btn btn-primary") %>

<table class="table">
<thead>
  <tr>
      <th>#</th>
      <th>カテゴリー</th>
      <th>メーカー</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>単価</th>
      <th>在庫数</th>
      <th></th>
  </tr>
</thead>
<tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id%></td>
            <td><%= product.category.name%></td>
            <td><%= product.maker.name%></td>
            <td><%= product.product_code%></td>
            <td><%= product.name%></td>
            <td><%= product.price.price%></td>
            <td></td>
            <td><%= link_to("編集", "/products/#{product.id}/edit", class:"btn btn-primary" )%>
            <%= link_to("削除","/products/#{product.id}",{method: "DELETE", data: {confirm: "削除しますか？"}, class:"btn btn-danger"}) %>
            </td>
        </tr>
    <% end %>
</tbody>
</table>

