<h1 class="mt-2">在庫一覧</h1>
<%= search_form_for(@q) do |f|%>
    <%= f.label :name_cont, '商品名で検索', class: "col-sm-2 col-form-lagel"%>
    <div class="col-cm-10">
        <%= f.search_field :name_cont, class: "form-control"%>
    </div>
    <%= f.submit "検索", class: "btn btn-info mt-2 mb-2"%>
<% end %>

<%= link_to("新規商品登録", "/products/new", class: "mb-2 btn btn-primary") %>

<table class="table">
<thead>
  <tr>
      <th>#</th>
      <th>カテゴリー</th>
      <th>メーカー</th>
      <th>商品コード</th>
      <th>商品名</th>
      <th>単価</th>
      <th>在庫数</th>
      <% if session[:user_id] && current_user.admin? %>
        <th></th>
      <% end %>
      <% if session[:user_id]%>
        <th></th>
      <% end %>
  </tr>
</thead>
<tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id%></td>
            <td><%= product.category.name%></td>
            <td><%= product.maker.name%></td>
            <td><%= product.product_code%></td>
            <td><%= product.name%></td>
            <td><%= product.price&.price%></td>
            <td><%= product.stock&.stock%></td>
            <% if session[:user_id] && current_user.admin? %>
                <td><%= link_to("編集", "/products/#{product.id}/edit", class:"btn btn-primary" )%>
                <%= link_to("削除","/products/#{product.id}",{method: "DELETE", data: {confirm: "削除しますか？"}, class:"btn btn-danger"}) %>
                </td>
            <% end %>
            <% if session[:user_id]%>
             <td><%= button_to "購入する", "/purchase/#{product.stock.id}", data: {confirm: "購入します。よろしいですか？"}, class:"btn btn-success"%></td>
            <% end %>
        </tr>
    <% end %>
</tbody>
</table>

