<h1 class="mt-2">商品情報登録</h1>
<%= link_to("一覧に戻る", "/")%>
<%= form_with(model: @product, local: true) do |f| %>
  <%= f.label :カテゴリー%><br>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true%><br>
  <%= f.label :メーカー%><br>
  <%= f.collection_select :maker_id, Maker.all, :id, :name, include_blank: true%><br>
  <%= f.label :商品コード%>
  <%= f.text_field :product_code, class: "form-control" %>
  <%= f.label :商品名%>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.submit "登録", class: "mt-2 btn btn-primary"%>
<% end %>
