<!DOCTYPE html>
<html>
  <head>
    <title>Stockapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>

  <body>
   <div class="navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand">在庫管理アプリケーション</div>
      
      <% if session[:user_id]%>
        <%= link_to("#{current_user.name}さん", user_path(current_user.id), class:"nav-link")%>
        <%= link_to("ログアウト", logout_path, method: :delete, class:"nav-link")%>
      <% else %>
        <%= link_to("新規登録", new_user_path, class:"nav-link")%>
        <%= link_to("ログイン", login_path, class:"nav-link")%>
      <% end %>
      <% if session[:user_id] && current_user.admin? %>
        <%= link_to("ユーザー一覧",admin_users_path, class:"nav-link")%>
      <% end %>
      <%= link_to("商品一覧","/", class:"nav-linnk")%>

    </div>
    <div class="container">
      <div class="notifications">
        <% flash.each do |key, value|%>
          <%= content_tag(:div, value, class: key)%>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
